

@import '../../sass/settings';
@import '../../sass/mixins';

.header-inner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
}

.header {
  display: inline-block;
  height: 50px;
  width: 100%;
  vertical-align: top;
}
.logo-wrap {
  display: inline-block;
  padding: 6px 8px; 
  border-right: 1px solid #CCC;
}
.headaer-menu {
  float: right;
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 11px;
  ul {
    margin: 0;
    list-style: none;
    li {
      position: relative;
      display: inline-block;
      margin: 0 10px;
      font-size: 20px;
      a {
        color: $black;
        font-size: 20px;
        i {
          float: left;
        }
        span {
          float: left;
          height: 15px;
          min-width: 15px;
          margin: -5px 0 0 -5px;
          padding: 0 2px;
          background-color: $primary-color;
          color: $white;
          font-size: 12px;
          text-align: center;
          @include css3-prefix(border-radius, 100%);
        }
      }
      img {
        max-width: 25px;
        border: 2px solid $light-grey;
        @include css3-prefix(border-radius, 100%);
      }
    }
  }
}

/* Post Header section */
.post-header {
  float: right;
  display: inline-block;
  height: 60px;
  @include css3-sufix(width, calc(100% - 55px));
  padding: 13px;
  background-color: $grey-f3;
  h2 {
    margin: 0;
    text-transform: uppercase;
    &::before {
      display: inline-block;
      height: 40px;
      width: 40px;
      margin-right: 15px;
      background-image: url('../../assets/images/school-icon.png');
      background-repeat: no-repeat;
      background-size: 100%;
      vertical-align: middle;
      content: '';
    }
  }
}


.search {
  button {
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 2;
    float: right;
    display: inline-block;
    height: 20px;
    width: 30px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    cursor: pointer;
    transition: opacity .4s ease;
  }
}

input[type="text"] {
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 3;
  display: inline-block;
  height: 30px;
  width: 0px;
  padding: 5px 30px 5px 5px;
  border: none;
  font-size: 25px;
  outline: none;
  background: none;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  z-index: 1;
  width: 700px;
  border-bottom: 1px solid #BBB;
  cursor: text;
  @include mq(tablet-l, max) {
    width: 500px;
  }
}

