<div class="header-inner">
  <div class="bg-white header box-shadow">
    <div class="logo-wrap"> 
      <img src="assets/images/logo-sm.png">
    </div>
    <div class="headaer-menu v-padding-40">
      <ul>
        <li class="search">
          <input id="search" name="search" type="text" placeholder="What're we looking for ?">
          <button id="search_submit" value="Search" type="submit">
          <i  class="fa fa-search" aria-hidden="true"></i></button>
        </li>
        <li><a href=""><i class="fa fa-bell"></i><span class="count">2</span></a></li>
        <li><a href=""><i class="fa fa-envelope"></i><span class="count">3</span></a></li>
        <li><img src="assets/images/profile-pic.png"></li>
      </ul>
    </div>
  </div>
  <div class="post-header text-center box-shadow">
    <h2>School Name</h2>
  </div>
</div>