
<div class="login-wrap">
  <div class="quote-text pink-gradient text-center">
    <h2>Tip of the day</h2>
    <div class="info-text">Look over your notes each night to make sure
    you've got it. </div>
  </div>
  <div class="login-form users-form">
    <div class="text-center logo-img"><img src="assets/images/logo.png"></div>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username / Mobile number">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" mat-button mat-raised-button >Login</button>
      <div class="text-center link"><a routerLink="/forget-password" class="text-primary">Forgot password?</a></div>
    </form>
  </div>
</div>
