@import '../../sass/settings';
@import '../../sass/mixins';

.users-form {
  color: #83919A;
  h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
  }
  p {
    margin: 0;
    font-size: 17px;
  }
}