<div class="sidebar-menu">
  <ul>
    <li>
      <a href="">
        <span class="icon icon-stud"></span>
        <span class="menu-title">Student</span>
      </a>
    </li>
    <li>
    <a href="">
      <span class="icon icon-attendance"></span>
      <span class="menu-title">Attendance</span>
    </a>
    </li>
    <li>
      <a href="">
        <span class="icon icon-exam"></span>
        <span class="menu-title">Exam</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon icon-timetabel"></span>
        <span class="menu-title">Timetabel</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon icon-download"></span>
        <span class="menu-title">Download</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon icon-library"></span>
        <span class="menu-title">Library</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon icon-transfort"></span>
        <span class="menu-title">Transfort</span>
      </a>
    </li>
  </ul>
</div>