<div class="bg-pink-horizontal-gradient padding-40 box-shadow">
  <div class="profile-wrapper">
    <div class="profile-detail">
      <div class="profile-img">
        <img src="assets/images/profile-pic.png" class="box-shadow">
      </div>
      <div class="profile-info">
        <div class="user-name">Tina Jones</div>
        <div class="user-email">tinajones@gmail.com</div>
        <div class="info-row">
          <label>Gender:</label>
          <div>Female</div>
        </div>
        <div class="info-row">
          <label>Date of Birth:</label>
          <div>2.5.1992</div>
        </div>
        <div class="info-row">
          <label>Phone</label>
          <div>+ 91 1234567890</div>
        </div>
        <div class="info-row">
          <label>Address</label>
          <div>
            12 Loream ipsum dolor sit amet, constor<br />
            psum dolor sit amet, con
          </div>
        </div>
      </div>
    </div>
    <div class="edit-button">
      <a routerLink="/home" class="btn btn-sm btn-plain" mat-button>Edit Profile</a>
    </div>
  </div>
</div>

<div class="bg-grey-light padding-40">
  <h2 class="title">Schedule</h2>

  <div class="grid">
    <div class="grid-4 bg-white">
      <div class="class-info text-center box-shadow ">
        <a href="" class="class-title">Class: 5A</a>
        <div class="time-info">
          <span>2nd may, 2018</span>
          <span>8:30 AM</span>
        </div>
        <div class="subject"><a href="">Social Science</a></div>
        <div class="infor-text"><span class="icons icon-info"></span>This class will start in 50 minutes.</div>
      </div>
    </div>
    <div class="grid-4 bg-white">
      <div class="class-info text-center box-shadow ">
        <a href="" class="class-title">Class: 5A</a>
        <div class="time-info">
          <span>2nd may, 2018</span>
          <span>8:30 AM</span>
        </div>
        <div class="subject"><a href="">Social Science</a></div>
        <div class="infor-text"><span class="icons icon-info"></span>This class will start in 50 minutes.</div>
      </div>
    </div>
    <div class="grid-4 bg-white">
      <div class="class-info text-center box-shadow ">
        <a href="" class="class-title">Class: 5A</a>
        <div class="time-info">
          <span>2nd may, 2018</span>
          <span>8:30 AM</span>
        </div>
        <div class="subject"><a href="">Social Science</a></div>
        <div class="infor-text"><span class="icons icon-info"></span>This class will start in 50 minutes.</div>
      </div>
    </div>
    <div class="grid-4 bg-white">
      <div class="class-info text-center box-shadow ">
        <a href="" class="class-title">Class: 5A</a>
        <div class="time-info">
          <span>2nd may, 2018</span>
          <span>8:30 AM</span>
        </div>
        <div class="subject"><a href="">Social Science</a></div>
        <div class="infor-text"><span class="icons icon-info"></span>This class will start in 50 minutes.</div>
      </div>
    </div>
    <div class="grid-4 bg-white">
      <div class="class-info text-center box-shadow ">
        <a href="" class="class-title">Class: 5A</a>
        <div class="time-info">
          <span>2nd may, 2018</span>
          <span>8:30 AM</span>
        </div>
        <div class="subject"><a href="">Social Science</a></div>
        <div class="infor-text"><span class="icons icon-info"></span>This class will start in 50 minutes.</div>
      </div>
    </div>
    <div class="grid-4 bg-white">
      <div class="class-info text-center box-shadow ">
        <a href="" class="class-title">Class: 5A</a>
        <div class="time-info">
          <span>2nd may, 2018</span>
          <span>8:30 AM</span>
        </div>
        <div class="subject"><a href="">Social Science</a></div>
        <div class="infor-text"><span class="icons icon-info"></span>This class will start in 50 minutes.</div>
      </div>
    </div>
    <div class="grid-4 bg-white">
      <div class="class-info text-center box-shadow ">
        <a href="" class="class-title">Class: 5A</a>
        <div class="time-info">
          <span>2nd may, 2018</span>
          <span>8:30 AM</span>
        </div>
        <div class="subject"><a href="">Social Science</a></div>
        <div class="infor-text"><span class="icons icon-info"></span>This class will start in 50 minutes.</div>
      </div>
    </div>
    <div class="grid-4 bg-white">
      <div class="class-info text-center box-shadow ">
        <a href="" class="class-title">Class: 5A</a>
        <div class="time-info">
          <span>2nd may, 2018</span>
          <span>8:30 AM</span>
        </div>
        <div class="subject"><a href="">Social Science</a></div>
        <div class="infor-text"><span class="icons icon-info"></span>This class will start in 50 minutes.</div>
      </div>
    </div>
    <div class="grid-4 bg-white">
      <div class="class-info text-center box-shadow ">
        <a href="" class="class-title">Class: 5A</a>
        <div class="time-info">
          <span>2nd may, 2018</span>
          <span>8:30 AM</span>
        </div>
        <div class="subject"><a href="">Social Science</a></div>
        <div class="infor-text"><span class="icons icon-info"></span>This class will start in 50 minutes.</div>
      </div>
    </div>
    
  </div>

</div>